<div class="balance_sheet" *ngIf="loaded">
    <!--NOTES FOR NEXT TIME: Work on centering the ticker on the displayed page, then work on displaying all tabs-->
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cashAndCashEquivalents">
        <th mat-header-cell *matHeaderCellDef> Cash And Cash Equivalents </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.cashAndCashEquivalents | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="shortTermInvestments">
        <th mat-header-cell *matHeaderCellDef> Short Term Investments </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.shortTermInvestments | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cashAndShortTermInvestments">
        <th mat-header-cell *matHeaderCellDef> Cash And Short Term Investments </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.cashAndShortTermInvestments | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="netReceivables">
        <th mat-header-cell *matHeaderCellDef> Net Receivables </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.netReceivables | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="inventory">
        <th mat-header-cell *matHeaderCellDef> Inventory </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.inventory | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="otherCurrentAssets">
        <th mat-header-cell *matHeaderCellDef> Other Current Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherCurrentAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalCurrentAssets">
        <th mat-header-cell *matHeaderCellDef> Total Current Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalCurrentAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="propertyPlantEquipmentNet">
        <th mat-header-cell *matHeaderCellDef> Property Plant Equipment Net </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.propertyPlantEquipmentNet | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="goodwill">
        <th mat-header-cell *matHeaderCellDef> Goodwill </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.goodwill | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="intangibleAssets">
        <th mat-header-cell *matHeaderCellDef> Intangible Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.intangibleAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="goodwillAndIntangibleAssets">
        <th mat-header-cell *matHeaderCellDef> Goodwill And Intangible Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.goodwillAndIntangibleAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="longTermInvestments">
        <th mat-header-cell *matHeaderCellDef> Long Term Investments </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.longTermInvestments | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="taxAssets">
        <th mat-header-cell *matHeaderCellDef> Tax Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.taxAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="otherNonCurrentAssets">
        <th mat-header-cell *matHeaderCellDef> Other Non Current Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherNonCurrentAssets | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalNonCurrentAssets">
        <th mat-header-cell *matHeaderCellDef> Total Non Current Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalNonCurrentAssets | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="otherAssets">
        <th mat-header-cell *matHeaderCellDef> Other Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherAssets | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalAssets">
        <th mat-header-cell *matHeaderCellDef> Total Assets </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalAssets | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="accountPayables">
        <th mat-header-cell *matHeaderCellDef> Account Payables </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.accountPayables | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="shortTermDebt">
        <th mat-header-cell *matHeaderCellDef> Short Term Debt </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.shortTermDebt | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="taxPayables">
        <th mat-header-cell *matHeaderCellDef> Tax Payables </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.taxPayables | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="deferredRevenue">
        <th mat-header-cell *matHeaderCellDef> Deferred Revenue </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.deferredRevenue | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="otherCurrentLiabilities">
        <th mat-header-cell *matHeaderCellDef> Other Current Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherCurrentLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalCurrentLiabilities">
        <th mat-header-cell *matHeaderCellDef> Total Current Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalCurrentLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="longTermDebt">
        <th mat-header-cell *matHeaderCellDef> Tong Term Debt </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.longTermDebt | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="deferredRevenueNonCurrent">
        <th mat-header-cell *matHeaderCellDef> Deferred Revenue Non Current </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.deferredRevenueNonCurrent | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="deferredTaxLiabilitiesNonCurrent">
        <th mat-header-cell *matHeaderCellDef> Deferred Tax Liabilities Non Current </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.deferredTaxLiabilitiesNonCurrent | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="otherNonCurrentLiabilities">
        <th mat-header-cell *matHeaderCellDef> Other Non Current Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherNonCurrentLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalNonCurrentLiabilities">
        <th mat-header-cell *matHeaderCellDef> Total Non Current Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalNonCurrentLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="otherLiabilities">
        <th mat-header-cell *matHeaderCellDef> Other Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.otherLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalLiabilities">
        <th mat-header-cell *matHeaderCellDef> Total Liabilities </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalLiabilities | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="commonStock">
        <th mat-header-cell *matHeaderCellDef> Common Stock </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.commonStock | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="retainedEarnings">
        <th mat-header-cell *matHeaderCellDef> Retained Earnings </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.retainedEarnings | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="accumulatedOtherComprehensiveIncomeLoss">
        <th mat-header-cell *matHeaderCellDef> Sccumulated Other Comprehensive Income Loss </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.accumulatedOtherComprehensiveIncomeLoss | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="othertotalStockholdersEquity">
        <th mat-header-cell *matHeaderCellDef> Other Total Stockholders Equity </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.othertotalStockholdersEquity | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalStockholdersEquity">
        <th mat-header-cell *matHeaderCellDef> Total Stockholders Equity </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalStockholdersEquity | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalLiabilitiesAndStockholdersEquity">
        <th mat-header-cell *matHeaderCellDef> Total Liabilities And Stockholders Equity </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalLiabilitiesAndStockholdersEquity | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalInvestments">
        <th mat-header-cell *matHeaderCellDef> Total Investments </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalInvestments | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="totalDebt">
        <th mat-header-cell *matHeaderCellDef> Total Debt </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.totalDebt | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="netDebt">
        <th mat-header-cell *matHeaderCellDef> Net Debt </th>
        <td mat-cell *matCellDef="let balanceSheetStatement"> {{balanceSheetStatement.netDebt | currency}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>