.cash_flows{
    overflow:scroll;
    max-height:75vh;
    width:100%;
}
  
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
    
td, th {
    width: 25%;
    min-width: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}