@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
  overflow:hidden;
  height:auto;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.version-info {
  font-size: 8pt;
  float: right;
}