<header>
  <div class ="nav_bar">
    <div class = "title">
      ez.F.A.
    </div>
    <div class="ticker_header">
      <!--<mat-label> Currently Researching: </mat-label>-->
      <mat-form-field appearance="outline" class="ticker">
        <div class="spacerSearch">
          <input matInput (keyup.enter)="research()" type="text" id="ticker" [(ngModel)] = "inputSymbol">
        </div>
        <div class="spacerButton">
          <button mat-button (click)="research()"> Research </button>
        </div>
      </mat-form-field>
    </div>
  </div>
</header>

<main>
  <div class="price_panel">
    <app-price-history [symbol]="symbol"></app-price-history>
  </div>
</main>
<div class ="info_panel">
  <div class = "news">
    
  </div>
  <div class = "financials">
    <mat-card class="income-statement-card" (click)="openIncStatDialog()">
      <mat-card-header>
        <mat-card-title>Income Statement</mat-card-title>
        <mat-card-subtitle>A summary of income for {{symbol}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  
    <mat-card class="balance-sheet-card" (click)="openBalSheetDialog()">
      <mat-card-header>
        <mat-card-title>Balance Sheet</mat-card-title>
        <mat-card-subtitle>A summary of assets and liabilities for {{symbol}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  
    <mat-card class="cash-flow-statement-card" (click)="openCashFlowDialog()">
      <mat-card-header>
        <mat-card-title>Cash Flow Statement</mat-card-title>
        <mat-card-subtitle>A summary of cash inflow and outflow for {{symbol}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    
    <mat-card class="key-ratios-card" (click)="openKeyRatiosDialog()">
      <mat-card-header>
        <mat-card-title>Key Ratios</mat-card-title>
        <mat-card-subtitle>Key financial ratios for {{symbol}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
