<header>
  <div class ="nav_bar">
    <div class = "title">
      ez.F.A.
    </div>
    <div class="ticker_header">
      <!--<mat-label> Currently Researching: </mat-label>-->
      <mat-form-field appearance="outline" class="ticker">
        <div class="spacerSearch">
          <input type="text" id="ticker" matInput value={{symbol}}>
        </div>
        <div class="spacerButton">
          <button mat-button (click)="research()"> Research </button>
        </div>
      </mat-form-field>
    </div>
  </div>
</header>
<main>
    <div class="price_panel">
        Price graph goes here
        <app-price-history [symbol]="symbol"></app-price-history>
    </div>
    <div class ="info_panel">
        <mat-accordion>
            <mat-expansion-panel id="top_panel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Income Statement
                  </mat-panel-title>
                  <mat-panel-description>
                    A summary of income for {{symbol}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-income-statement [symbol]="symbol"></app-income-statement>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Cash Flow Statement
                  </mat-panel-title>
                  <mat-panel-description>
                    A summary of cash inflow and outflow for {{symbol}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-cash-flows [symbol]="symbol"></app-cash-flows>
            </mat-expansion-panel>
    
            <mat-expansion-panel id="bottom_panel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Balance Sheet
                  </mat-panel-title>
                  <mat-panel-description>
                    A summary of assets and liabilities for {{symbol}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-balance-sheet [symbol]="symbol"></app-balance-sheet>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!--<mat-tab-group mat-stretch-tabs>
        <mat-tab label="Income Statement">
            <app-income-statement [symbol]="symbol"></app-income-statement>
        </mat-tab>
        <mat-tab label="Cash Flow Statement">
            <div class="ticker_header">
            </div>
            <app-cash-flows [symbol]="symbol"></app-cash-flows>
        </mat-tab>
        <mat-tab label="Balance Sheet">
            <app-balance-sheet [symbol]="symbol"></app-balance-sheet>
        </mat-tab>
    </mat-tab-group>-->
</main>
